<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.appue.saveimage"
    version="0.0.1"
>
    <name>Url Save Image</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>This plugin allows you to save an image from a URL to the iOS Photo Library, or Android Gallery from your app.</description>
    <author>appue - enuobear@gmail.com</author>
    <keywords>save image,url image,photo library</keywords>

    <license>MIT</license>

    <js-module src="www/SaveImage.js" name="SaveImage">
        <clobbers target="window.saveImage" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SaveImage">
                <param name="ios-package" value="SaveImage"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/SaveImage.h" />

        <source-file src="src/ios/SaveImage.m" compiler-flags="-fno-objc-arc" />
    </platform>

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/SaveImage.java" target-dir="src/com/appue/SaveImage" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SaveImage" >
                <param name="android-package" value="com.appue.SaveImage.SaveImage"/>
            </feature>
        </config-file>

    </platform>
</plugin>
